<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
<h1>Привет, я автор</h1>
<p>
<br>
  Я немного в шоке от того что я тут творю. 
  А еще больше в шоке от тех людей которые учатся со мной в одном потоке, 
  такое ощущение что они пришлю сюда так, поразвлекаться, играючи пишут код. 
  Мне страшно как я дальше буду справляться с заданиями, если они пришли с 
  таким же уровнем подготовки как я, то есть нулевым.
<br>
<br>
Посмотрим далеко ли я смогу зайти, и на что я способен ))
</p>
</div>
{% endblock %} 